body {
    margin: 40px;
    background-color: #D9EDBF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, #menu_principal {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #D9EDBF;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 70%;
}

#logo_site img {
    width: 120px;
    height: auto;
}

#menu_principal ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

#menu_principal ul li {
    padding: 0 30px 0 30px;
}

#top_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
    width: 60%;
}

#top_page h1 {
    text-align: center;
}

#top_page p {
    text-align: center;
}

#top_page_encart {
    background-color: #FF9800;
    padding: 20px;
    border-radius: 20px;
}

#accueil_enc_habitats, #accueil_enc_services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
}

.encarts_accueil {
    background-color: #2C7865;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

#accueil_avis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #90D26D;
    border-radius: 20px;
    width: 30%;
    padding: 30px;
}

#avis_form {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#avis_form input {
    margin: 20px;
}

#commentaire {
    margin-top: 20px;
}

footer {
    background-color: #2C7865;
    color : white;
    width: 100%;
    margin-top: 30px;
    margin-left: -80px;
    padding-left: 160px;
    margin-bottom: -80px;
}

.animaux_accueil{
    padding-right: 40px;
    text-align: center;
}

li {
    list-style-type: none;
    margin-bottom: 50px;
}

.animaux_accueil ul li img {
    max-width: 150px;
    border-radius: 100%;
    margin-bottom: 20px;
}