body {
    margin: 40px;
    background-color: #D9EDBF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, #menu_principal {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #D9EDBF;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 70%;
}

#logo_site img {
    width: 120px;
    height: auto;
}

#menu_principal ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

#menu_principal ul li {
    padding: 0 30px 0 30px;
}

#accueil_enc_habitats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encarts_accueil {
    background-color: #2C7865;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
}

footer {
    background-color: #2C7865;
    color : white;
    width: 100%;
    margin-top: 30px;
}